@charset "utf-8";
html{
	font-size:16px;
	background:#eee;
	text-align:center;
}
h1{
	font-size:3.2em;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
input,label,select{
	display:block;
	width:12em;
	width:12rem;
	text-align: center;
	margin:1em auto;
}
label{
	width:auto;
}

input[type="submit"]{
	border:solid #09F;
	background:#FFF;
}
input[type="submit"]:hover{
	background:#09F;
	color:#FFF;
	box-shadow:0 0 3px rgba(0,144,255,0.4),
	0 0 4px rgba(0,0,0,0.6);
}
input[type="submit"]:active{
	transform:translateY(3px);
	box-shadow:none;
}
